<a href="https://colab.research.google.com/github/revendrat/AI-ML-Workshop-PIEMR-/blob/main/04_Iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterations
1. While loops
2. For loops
3. Comprehensions
 *   List Comprehensions
 *   Dictionary Comprehensions

# While Loop
* While-loop is otherwise considered as indefinite loop
* Repeats a code block as long as a defined logic stands true

In [ ]:
# Illustration of while-loop
# Given a number, print numbers in descending order (positive numbers only)

n = 10 # assign number 10
while n > 0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

# For Loops
* for-loop is similar to while-loop in Python
* The logic to define for-loop differs
* the beginning and ending of for-loop is bounded by a given sequence
* the code block in for-loop repeats within this sequence
* for loop is iterated over every value in a sequence

# Useful functions while writing for-loop
* range(start, stop, step)
* range function generates a sequence of numbers beginning at start, ending at stop, and increments by a step
* to generate values of 1 to 10 with an increment of 1, use range(1,10,1) in for-loop

In [ ]:
# Illustration of range(start, stop, step) function
# to generate values of 1 to 10 with an increment of 1, use range(1,10,1)
for i in range(0,10+1,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Illustration of for-loop
# Given a number, print numbers in descending order (positive numbers only)

n=10 # given number
for i in range(0, n):
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Illustration of for-loop
# print all characters in the string "PIEMR Indore"
for i in "PIEMR Indore":
    print(i)

P
I
E
M
R

I
n
d
o
r
e

In [ ]:
# Illustration of for-loop
# print all characters in the string "PIEMR Indore"
# Alternative logic
name = "PIEMR Indore"
for i in range(len(name)):
    print(name[i])

P
I
E
M
R

I
n
d
o
r
e

In [ ]:
# Given a list of values, find their sum, and mean 

values = [1,2,3,4,5,6,7,8,9,10]
sum_values = 0
for i in values:
    #print(values[i-1])   
    sum_values = sum_values + values[i-1]

print("Sum of values : " + str(sum_values))
print("Mean of values : " + str(sum_values/len(values)))
print("Mean of values : " , sum_values/len(values))
#print("Mean of values : " + sum_values/len(values))

Sum of values : 55
Mean of values : 5.5
Mean of values :  5.5

In [ ]:
## Loop through data dictionary

groups = {"G1 Group":31, "G2 Group":30}

for i_key in groups.keys():
    print(i_key +" has a batch size of " + str(groups[i_key]) + " students.")

G1 Group has a batch size of 31 students.
G2 Group has a batch size of 30 students.

# Comprehensions
* Comprehensions are another method to perform iternations in Python
* Comprehensions enable to crease sequences from other sequences
* Common comprehensions in Python are list, dictionary and set comprehensions

In [ ]:
## List comprehension illustration

# Suppose you want to create a list of square of n numbers
# Illustration using for-loops

n = 5
sq_list = []
for i in range(1,n+1):
    #print(i)
    sq_list.append(i**2)
print(sq_list)

# using list comprehension

sq_list_comp = [(i+1)**2 for i in range(n)]
print(sq_list_comp)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
## Dictionary Comprehension
groups = {"G1 Group":31, "G2 Group":30, "G3 Group": 29}

{i_key:x+10 for (i_key, x) in groups.items()}

{'G1 Group': 41, 'G2 Group': 40, 'G3 Group': 39}

# Enumerate, zip & map in python
# Enumerate
* Enumerate method adds counting feature to the iterables
* Say you have a list or tuple of elements, and you would like to add counter to the list or tuple. In that case enumerate method comes handy.
* Enumerate method takes two arguments: (1) any data structure object supporting iterations, and (2) value at which counting must begin (default is zero)
# Zip
* zip() method is applicable only for iterable elements
* zip() method takes one or more iterable elements and combines them to a zip object
* unzipping does the reverse of zipping

In [ ]:
# enumerate illustration using tuple
some_numbers_tuple = (9,8,6,5,1,2,10)
sn_tuple_enum_obj = enumerate(some_numbers_tuple)
print("sn_tuple_enum_obj : ", sn_tuple_enum_obj)
tuple(sn_tuple_enum_obj)

sn_tuple_enum_obj :  <enumerate object at 0x7f9952b82550>

((0, 9), (1, 8), (2, 6), (3, 5), (4, 1), (5, 2), (6, 10))

In [ ]:
for count_value, element_value in enumerate(some_numbers_tuple):
    print("count_value: ", count_value, "element_value: ", element_value)

count_value:  0 element_value:  9
count_value:  1 element_value:  8
count_value:  2 element_value:  6
count_value:  3 element_value:  5
count_value:  4 element_value:  1
count_value:  5 element_value:  2
count_value:  6 element_value:  10

In [ ]:
# enumerate illustration using list
some_numbers_list = [9,8,6,5,1,2,10]
sn_list_enum_obj = enumerate(some_numbers_list)
print("sn_list_enum_obj : ", sn_list_enum_obj)
list(sn_list_enum_obj)

sn_list_enum_obj :  <enumerate object at 0x7f9952b8b4b0>

[(0, 9), (1, 8), (2, 6), (3, 5), (4, 1), (5, 2), (6, 10)]

In [ ]:
for count_value, element_value in enumerate(some_numbers_list):
    print("count_value: ", count_value, " element_value: ", element_value)

count_value:  0  element_value:  9
count_value:  1  element_value:  8
count_value:  2  element_value:  6
count_value:  3  element_value:  5
count_value:  4  element_value:  1
count_value:  5  element_value:  2
count_value:  6  element_value:  10

In [ ]:
some_numbers_dict = { "x" : [9,8,7,6,5], "y": [1,2,10]}

sn_dict_enum_obj = enumerate(some_numbers_dict)

print("sn_dict_enum_obj : ", sn_dict_enum_obj)
dict(sn_dict_enum_obj)

sn_dict_enum_obj :  <enumerate object at 0x7f9952b85280>

{0: 'x', 1: 'y'}

In [ ]:
for count_value, element_value in enumerate(some_numbers_dict):
    print("count_value: ", count_value, " element_value: ", element_value)

count_value:  0  element_value:  x
count_value:  1  element_value:  y

In [ ]:
# zip illustration
# create list person with column names
# create list of values for person, and
# zip both the lists

person = ["Name", "ID", "Degree", "Year"]
st1 = ["Rohit", 'B20210525', "B.Tech.", "I Year"]

# create a zip object
students = zip(person, st1)
students

In [ ]:
for temp_var in students:
    print(temp_var)

('Name', 'Rohit')
('ID', 'B20210525')
('Degree', 'B.Tech.')
('Year', 'I Year')

In [ ]:
# What if more than two iterations?
person = ["Name", "ID", "Degree", "Year"]
st1 = ["Rohit", 'B20210525', "B.Tech.", "I Year"]
st2 = ["Vaibhav", 'B20210525', "B.Tech.", "I Year"]
# create a zip object
students = zip(person, st1, st2)
students

In [ ]:
for temp_var in students:
    print(temp_var)

('Name', 'Rohit', 'Vaibhav')
('ID', 'B20210525', 'B20210525')
('Degree', 'B.Tech.', 'B.Tech.')
('Year', 'I Year', 'I Year')

In [ ]:
# What if the iterables in zip are of different length?
letters = ['a', 'b', 'c', 'd', 'e']
nums = [1,2,3]

nl = zip(letters, nums)

# check that zip object does not print d & e
for temp_var in nl:
    print(temp_var)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
# What if the iterables in zip are of different length?
# use zip_longest() from itertools

from itertools import zip_longest

letters = ['a', 'b', 'c', 'd', 'e']
nums = [1,2,3]

nl = zip_longest(letters, nums)

# check that zip object does not print d & e
for temp_var in nl:
    print(temp_var)

('a', 1)
('b', 2)
('c', 3)
('d', None)
('e', None)

In [ ]:
# Unzipping
list_of_typles = [(1,2), (3,4), (5,6), (7,8), (9,0)]

odd, even = zip(*list_of_typles)

print("unzipped even :", even)

print("unzipped odd: ", odd)

unzipped even : (2, 4, 6, 8, 0)
unzipped odd:  (1, 3, 5, 7, 9)

In [ ]:
# use enumerate with zip to get index of combined values
person = ["Name", "ID", "Degree", "Year"]
st1 = ["Rohit", 'B20210525', "B.Tech.", "I Year"]
st2 = ["Vaibhav", 'B20210525', "B.Tech.", "I Year"]
# create a zip object
students = zip(person, st1, st2)
print("students \n", students)

for temp_var in enumerate(students):
    print(temp_var)

students
 <zip object at 0x7f9957635320>
(0, ('Name', 'Rohit', 'Vaibhav'))
(1, ('ID', 'B20210525', 'B20210525'))
(2, ('Degree', 'B.Tech.', 'B.Tech.'))
(3, ('Year', 'I Year', 'I Year'))

# Map Function in Python
* map() combines a function and iterables to apply function on the iterables
* map() is in-built in Python, and helps avoid writing loops

In [ ]:
# Illustration of Map function
nums = range(10)
print("numers : ", nums)

# find sum of nums using map()
# the map() results in a map object which can be passed to iterable object such as list
map(sum, nums)

numers :  range(0, 10)

In [ ]:
# use list() function to access the result of map()
sum_nums=map(sum, [nums])
list(sum_nums)

[45]

In [ ]:
# use list() function to access the result of map()
list(map(sum, [nums]))

[45]

In [ ]:
# find the minimum value in the list of numbers
min_nums=map(min, [nums])
list(min_nums)

[0]

In [ ]:
# calculate mean of numbers
import numpy as np
y=map(np.mean, [nums])
list(y)

[4.5]

In [ ]:
# calculate median and standard deviation
y=map(np.median, [nums])
list(y)

[4.5]

In [ ]:
# Create two lists: one from 0 to 10 numbers, and another from 0 to 100 numbers

# list of 0 to 10 numbers
num_list_1 = list(range(11))

# list of 0 to 100 numbers
num_list_2 = list(range(101))

# combine both the lists
list_of_list = [num_list_1, num_list_2]

# use map() to calculate the mean
list(map(np.mean, list_of_list))

[5.0, 50.0]

In [ ]:
# function in map taking two inputs
# say you want to create 
    # square of first number, 
    # square root of second number, 
    # cube of a third number
    # reciprocal of fourth number

# create a list of numbers

nums_list = [1,2,3,4]
powers_list = [2, 0.5, 3, -1]

list(map(pow, nums_list, powers_list))

[1, 1.4142135623730951, 27, 0.25]

In [ ]:
# Create a list with strings, and capitalise the string 
str_list = ['PIEMR', 'Vijay Nagar', 'Indore', 'M.P.']

# to capitalise the string, that is first letter in the string use str.capitalise()
list(map(str.capitalize, str_list))

['Piemr', 'Vijay nagar', 'Indore', 'M.p.']

In [ ]:
# Create a list with strings, and make the string in upper cases
str_list = ['PIEMR', 'Vijay Nagar', 'Indore', 'M.P.']

# to make the string in upper case, use str.upper()
list(map(str.upper, str_list))

['PIEMR', 'VIJAY NAGAR', 'INDORE', 'M.P.']

In [ ]:
# use lambda function within map
nums_list= [1,2,3,4,5]
constant_list = [10,10,10,10,10]

print("Add :", list(map(lambda x, y: x-y, nums_list, constant_list)))
print("Subtract :", list(map(lambda x, y: x+y, nums_list, constant_list)))
print("Multiply :" , list(map(lambda x, y: x*y, nums_list, constant_list)))
print("Divide :", list(map(lambda x, y: x/y, nums_list, constant_list)))

Add : [-9, -8, -7, -6, -5]
Subtract : [11, 12, 13, 14, 15]
Multiply : [10, 20, 30, 40, 50]
Divide : [0.1, 0.2, 0.3, 0.4, 0.5]

In [ ]:
# use lambda function within map
nums_list= [1,2,3,4,5]
constant_list = [10,10,10,10,10]
third_list = [1,1,1,1,1]
fourth_list = [5,5,5,5,5,]

print("Add, Subtract, Multiply & Divide :", list(map(lambda w, x, y, z: ((w+x)-y)*z, nums_list, constant_list, third_list, fourth_list)))

Add, Subtract, Multiply & Divide : [50, 55, 60, 65, 70]