<a href="https://colab.research.google.com/github/revendrat/AI-ML-Workshop-PIEMR-/blob/main/02_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Built in Data Structures in Python:

1. List 
2. Tuple 
3. Dictionary
4. Set

# Lists

* Used when sequential order of elements is preferred
* List data structure in Python preserves order

In [ ]:
# Illustration of a list
# One may create list without using the keyword "list"
# Here, creating a list by name python_list
python_list = [2021, 'IPL top 4', ['DC', 'CSK', 'RCB', 'KKR'], [1, 2, 3, 4]]

In [ ]:
# Check the contents of the created list python_list
python_list

[2021, 'IPL top 4', ['DC', 'CSK', 'RCB', 'KKR'], [1, 2, 3, 4]]

In [ ]:
# Verify the data structure type of the python_list
type(python_list)

list

In [ ]:
# use len() function to verify the size of the list
len(python_list)

4

# Subsetting the list

In [ ]:
# Access the first element of list using index-0
python_list[0]

2021

In [ ]:
# Access the third element of list using index-2
python_list[2]

['DC', 'CSK', 'RCB', 'KKR']

In [ ]:
# The third element of list is a vector
# Access the first value in third element of list using index-2 and index-0
python_list[2][0]

'DC'

In [ ]:
# Python lists are mutable
# The first element a.k.a zeroth-index of python_list is 2021
# The first element is changed to value as shown below
python_list[0] = '15-10-2021'

In [ ]:
# Verify the changes below
python_list

['15-10-2021', 'IPL top 4', ['DC', 'CSK', 'RCB', 'KKR'], [1, 2, 3, 4]]

In [ ]:
# access first two elements in list as shown below
python_list[:2]

['15-10-2021', 'IPL top 4']

In [ ]:
# Get the second and third values in a list
python_list[1:3]

['IPL top 4', ['DC', 'CSK', 'RCB', 'KKR']]

In [ ]:
# Replace the second and third values in a list
python_list[1:3] = ['Bottom 4', ['MI', 'PBKS', 'RR', 'SRH'], 4]

# Verify if the above changes are made
python_list

['15-10-2021', 'Bottom 4', ['MI', 'PBKS', 'RR', 'SRH'], 4, [1, 2, 3, 4]]

# Expanding the list i.e., adding one more element to the list
* Add an element at the end using + operator
* Add an element at the end using append() function
* Add an element any where, say nth position using insert(n, 'inserted element at n') function

In [ ]:
# Following throws an error
python_list[5] = ['Finalists']

IndexError: ignored

In [ ]:
# In order to add one more element to list, use "+" operator
python_list = python_list + ['Finalists']

 #Verify if the above changes are made
python_list

['15-10-2021',
 'Bottom 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists']

In [ ]:
# Another method to add one more element to list: use append() function
python_list.append(['CSK', 'KKR'])

 #Verify if the above changes are made
python_list

['15-10-2021',
 'Bottom 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists',
 ['CSK', 'KKR']]

In [ ]:
# In case, a new element is to be added at the beginning: use insert(0, 'Element') function
python_list.insert(0,'Inserted Element')

#Verify if the above changes are made
python_list

['Inserted Element',
 '15-10-2021',
 'Bottom 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists',
 ['CSK', 'KKR']]

In [ ]:
# In case, a new element is to be added at the 4th position: use insert(4, 'Element 4') function
python_list.insert(3,'Inserted Element 4')

#Verify if the above changes are made
python_list

['Inserted Element',
 '15-10-2021',
 'Bottom 4',
 'Inserted Element 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists',
 ['CSK', 'KKR']]

# Remove the element from a list

* use remove() function to remove a particular element
* use del function to delete particular element or elements from a list
* use pop() function to remove particula element from a list

In [ ]:
# delete the first element using del
del python_list[0]

#Verify if the above changes are made
python_list

['15-10-2021',
 'Bottom 4',
 'Inserted Element 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists',
 ['CSK', 'KKR']]

In [ ]:
# remove the  element using remove() function, and specify the value to be removed
# Following removes 'Inserted Element 4' positioned at index-2
python_list.remove('Inserted Element 4')

#Verify if the above changes are made
python_list

['15-10-2021',
 'Bottom 4',
 ['MI', 'PBKS', 'RR', 'SRH'],
 4,
 [1, 2, 3, 4],
 'Finalists',
 ['CSK', 'KKR']]

In [ ]:
# In case more than one element to be removed positioned between n and m indexes, use del list_name(n-1,m)
# Delete values positioned at between 5 and 6, including 5 and 6
del python_list[4:6]

#Verify if the above changes are made
python_list

['15-10-2021', 'Bottom 4', ['MI', 'PBKS', 'RR', 'SRH'], 4, ['CSK', 'KKR']]

In [ ]:
# Use pop() function to delete an element from the list
# delete the 2nd element from the list as illustrated below
python_list.pop(1)

'Bottom 4'

In [ ]:
#Verify if the 2nd element is removed through pop() function
python_list

['15-10-2021', ['MI', 'PBKS', 'RR', 'SRH'], 4, ['CSK', 'KKR']]

# Sort elements in a list
* use function sorted()
* use function sort()
* Both use Timsort algorithm
* Both the sorting functions cannot sort a mix of data types such as numeric and strings data types

In [ ]:
# Sort using sorted() function on list with mixed data types
# Expect that it throws an error
sorted(python_list)

TypeError: ignored

In [ ]:
# Sort using sort() function on list with mixed data types
# Expect that it throws an error
python_list.sort()

TypeError: ignored

In [ ]:
# Create a new list (numeric_list_1 & numeric_list_2 are same)
numeric_list_1 = [99, 87, 104, 22, 76, 54, 93]
numeric_list_2 = [99, 87, 104, 22, 76, 54, 93]

In [ ]:
# Sort using sorted() function on list with numeric data types
sorted(numeric_list_1)

[22, 54, 76, 87, 93, 99, 104]

In [ ]:
# Sort using sort() function on list with numeric data types
numeric_list_2.sort()

In [ ]:
# Verify if the list is sorted
numeric_list_2

[22, 54, 76, 87, 93, 99, 104]

# Tuples Data Structures

* Tuples are similar to lists in Python
* Tuples are immutable, whereas lists are mutable in Python
* Tuples are used to create immutable sequences in Python
* To create tuples separate elements by comma
* To create tuple consisting of grouped elements, use paranthesis
* Tuple eases memory management in Python

Follow the Illustrations on Tuples to learn more

In [ ]:
# Create a tuple of digits is created
python_tuple = 0, 1,2,3,4,5,6,7,8,9

# Verify if tuple of digits is created
python_tuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# verify if the created data structure is tuple or not
type(python_tuple)

tuple

In [ ]:
# Create a immutable group of tuple
it_stocks = ('INFY', 'HCL', 'TCS', 'WIPRO') # declare tuple with paranthesis

# Verify if it_stocks tuple is created
it_stocks

('INFY', 'HCL', 'TCS', 'WIPRO')

# To verify the immutable nature of tuples

* Try to add one more value to tuple
* Try to update a value in tuple
* Try to remove a value in tuple

In [ ]:
# Try to add value in tuple
# Append/insert 'TECH MAHINDRA' to the it_stocks tuple
# Expect to throw an error
it_stocks.append('TECH MAHINDRA')

AttributeError: ignored

In [ ]:
# Try to add value in tuple
# Append/insert 'TECH MAHINDRA' to the it_stocks tuple
# Expect to throw an error
it_stocks.insert(4, 'TECH MAHINDRA')

AttributeError: ignored

In [ ]:
# Try to update value in tuple
# change 'INFY' to 'INFOSYS'
# Expect to throw an error
it_stocks[0] = 'INFOSYS'

TypeError: ignored

In [ ]:
# Try to remove value in tuple
# Remove 'INFY' in the it_stocks tuple
# Expect to throw an error
it_stocks.remove('TECH MAHINDRA')

AttributeError: ignored

# Tuples Unpacking
* Unpack ungrouped tuples
* Unpack grouped tuples
* Unpacking is also called "splat" or "de-structuring"

In [ ]:
# Declare the tuples unpack
positive_number, negative_number, zero = 1,-1,0

# Display each of the tuples unpack
print("positive_number: " +str(positive_number))
print("negative_number: " +str(negative_number))
print("zero: " +str(zero))

positive_number: 1
negative_number: -1
zero: 0

In [ ]:
# Declare unpack tuples in chunks using the * operator
positive_number, *negative_numbers, zero = 1, -1,-2,-3,-4, -5, 0

# Display each of the tuples unpack
print("positive_number: " +str(positive_number))
print("negative_numbers: " +str(negative_numbers))
print("zero: " +str(zero))

positive_number: 1
negative_numbers: [-1, -2, -3, -4, -5]
zero: 0

In [ ]:
# Change the order of the chunks in tuples unpack
# Declare unpack tuples in chunks using the * operator
*negative_numbers, zero, positive_number = -1,-2,-3,-4, -5, 0, 1

# Display each of the tuples unpack
print("negative_numbers: " +str(negative_numbers))
print("zero: " +str(zero))
print("positive_number: " +str(positive_number))

negative_numbers: [-1, -2, -3, -4, -5]
zero: 0
positive_number: 1

# Data Dictionaries
* Data dictionaries contain pairs of elements commonly known as key-value pairs
* Keys and values are mapped against each other in data dictionaries
* Data dictionaries are equivalent to associative arrays or hash tables
* Funtions and classe are built around data dictionaries in Python

In [ ]:
## Illustration of data dictionaries in Python

city_codes = {
    "IDR": "Indore",
    "BHO": "Bhopal",
    "GWL": "Gwalior",
    "JLR": "Jabalpur"
}

# Verify if city_codes data dictionary is propery assigned
city_codes

{'BHO': 'Bhopal', 'GWL': 'Gwalior', 'IDR': 'Indore', 'JLR': 'Jabalpur'}

In [ ]:
## Another way of declaring dictionary
city_codes_1 = dict(IDR= 'Indore',
                     BHO = 'Bhopal',
                     GWL = 'Gwalior',
                     JLR = 'Jabalpur'
)

# Verify if city_codes_1 data dictionary is propery assigned
city_codes_1

{'BHO': 'Bhopal', 'GWL': 'Gwalior', 'IDR': 'Indore', 'JLR': 'Jabalpur'}

In [ ]:
## Check the type of data structure of city_codes and city_codes_1
print(type(city_codes))

print(type(city_codes_1))

<class 'dict'>
<class 'dict'>

In [ ]:
# Get the length of data dictionary
print(len(city_codes))
print(len(city_codes_1))

4
4

In [ ]:
# Retrieve values from keys
# Retrieve value of city_codes code 'IDR' (Note: Here IDR is key to value of City Indore)
print(city_codes['IDR'])
print(city_codes_1['IDR'])

Indore
Indore

In [ ]:
## Illustration of mutliple values for same key in data dictionaries
stocks = {
    "IT" : ["HCL", "INFY", "TCS", "WIPRO"],
    "BANKING" : ["AXIS", "HDFC", "INDUS IND", "KOTAK"],
    "CEMENT" : ["SHREE CHEM", "ULTRATECH", "DALMIA"] 

}

# Verify if stocks data dictionary is properly assigned
stocks

{'BANKING': ['AXIS', 'HDFC', 'INDUS IND', 'KOTAK'],
 'CEMENT': ['SHREE CHEM', 'ULTRATECH', 'DALMIA'],
 'IT': ['HCL', 'INFY', 'TCS', 'WIPRO']}

In [ ]:
# Verify the type of data structure and length of data structure "stocks"

print(type(stocks))
print(len(stocks))

<class 'dict'>
3

In [ ]:
# Retrieve CEMENT stocks using key 
stocks['CEMENT']

['SHREE CHEM', 'ULTRATECH', 'DALMIA']

In [ ]:
# use keys() function to retrieve keys in data dictionary

print(city_codes.keys())
print(stocks.keys())

dict_keys(['IDR', 'BHO', 'GWL', 'JLR'])
dict_keys(['IT', 'BANKING', 'CEMENT'])

In [ ]:
# use values() function to retrieve values in data dictionary
print(city_codes.values())
print(stocks.values())

dict_values(['Indore', 'Bhopal', 'Gwalior', 'Jabalpur'])
dict_values([['HCL', 'INFY', 'TCS', 'WIPRO'], ['AXIS', 'HDFC', 'INDUS IND', 'KOTAK'], ['SHREE CHEM', 'ULTRATECH', 'DALMIA']])

In [ ]:
# update data dictionary using updates() function
# Add Bank of Baroda in stocks
stocks.update({"BANKING" : ["AXIS", "HDFC", "INDUS IND", "KOTAK", "BANK OF BARODA"]})

# Verify if stocks data dictionary is properly updated
stocks

{'BANKING': ['AXIS', 'HDFC', 'INDUS IND', 'KOTAK', 'BANK OF BARODA'],
 'CEMENT': ['SHREE CHEM', 'ULTRATECH', 'DALMIA'],
 'IT': ['HCL', 'INFY', 'TCS', 'WIPRO']}

# Remove items from data dictionaries

* pop() function to remove items with specified key names
* popitem() function to remove the last inserted item
* del keyword : similar to pop() function

Illustrations provided below

In [ ]:
# pop() function to remove items with specified key names

#check city_codes before using pop() function
print(city_codes)

# use pop() function
print(city_codes.pop('I'))

{'IDR': 'Indore', 'BHO': 'Bhopal', 'GWL': 'Gwalior', 'JLR': 'Jabalpur'}

KeyError: ignored

In [ ]:
#check city_codes after using pop() function
print(city_codes)

{'IDR': 'Indore', 'BHO': 'Bhopal', 'GWL': 'Gwalior', 'JLR': 'Jabalpur'}

In [ ]:
# use popitem() function to remove the last inserted item
# check city_codes before using popitem() function
print(city_codes)

# use pop() function
print(city_codes.popitem())

# check city_codes after using popitem() function
print(city_codes)

{'IDR': 'Indore', 'BHO': 'Bhopal', 'GWL': 'Gwalior', 'JLR': 'Jabalpur'}
('JLR', 'Jabalpur')
{'IDR': 'Indore', 'BHO': 'Bhopal', 'GWL': 'Gwalior'}

In [ ]:
# Use del keyword to delete item based on key: similar to pop() function

# check stocks before using del keyword
print(stocks)

# use del key work=d
del stocks["BANKING"]

# check stocks after using del keyword
print(stocks)

{'IT': ['HCL', 'INFY', 'TCS', 'WIPRO'], 'BANKING': ['AXIS', 'HDFC', 'INDUS IND', 'KOTAK', 'BANK OF BARODA'], 'CEMENT': ['SHREE CHEM', 'ULTRATECH', 'DALMIA']}
{'IT': ['HCL', 'INFY', 'TCS', 'WIPRO'], 'CEMENT': ['SHREE CHEM', 'ULTRATECH', 'DALMIA']}

# In Python, mathematical set operations are provided using set() data structures

In [ ]:
# Declare digits, even digits and odd digits using set() function mentioned below
set_D = set([1, 2, 3, 4,  5, 6, 7, 8, 9, 0])
set_E = set([2, 4, 6, 8, 0])
set_O = set([1, 3, 5, 7, 9])

In [ ]:
# Union operation or join two sets
# use union() function as mentioned below to perform union operations in sets
# Create a union of odd and even numbers
set_E.union(set_O)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Intersection operation or preserving duplicates
# use intersectio() funtion for intersection operation
# Extract odd numbers from odd set and digits set
set_O.intersection(set_D)

{1, 3, 5, 7, 9}

In [ ]:
# Intersection and compliment
# Use symmetric_difference() function to get compliment of intesection of two sets
# Extract even digits from intesection with all digits without using even numbers

set_O.symmetric_difference(set_D)

{0, 2, 4, 6, 8}

In [ ]:
# Verify if subset using issubset() function
print(set_O.issubset(set_D))
print(set_E.issubset(set_D))

True
True

In [ ]:
# Verify if superset using issuperset() function
print(set_D.issuperset(set_O))
print(set_D.issuperset(set_O))

True
True

In [ ]:
# Verify if disjoint using isdisjoint() function
print(set_E.isdisjoint(set_O))
print(set_E.isdisjoint(set_D))

True
False