<a href="https://colab.research.google.com/github/revendrat/AI-ML-Workshop-PIEMR-/blob/main/05_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
* In-built
* User defined

# Components of functions
* function header
 * begins with keyword def and ends with :
 * function body
   * each line is indented by four white spaces
   * Descrptive string constitutes documentation
   * function code logic statements
   * return statement to return objects

# Construction of user-defined function

def function_name(argument_1, argument_1, ...):

     code block of function
     return any_ouput_results  # This is optional

In [ ]:
## Illustration of function
## Write a function to add two numbers

def add_two_nums(a=0, b=0):
    add_two = a+b
    return add_two

In [ ]:
# What is the output of the following?
add_two_nums(4,5)

9

In [ ]:
# What is the output of the following?
add_two_nums(4)

4

In [ ]:
def sub_two_nums(a, b):
    sub_two = a-b
    return sub_two

In [ ]:
# What is the output of the following?
sub_two_nums(4, 9)

-5

In [ ]:
# What is the output of the following?
sub_two_nums(4)

TypeError: ignored

# Documentation for function
* Use three single quotes between the documentation
* Example: ''' this function takes three numbers as inputs and returns their sum '''
* use help() function to get the documentation of a given function

In [ ]:
# Illustration of documentation
def add_three_nums(a, b, c):
    '''add_three_nums() function takes three numbers as inputs and returns their sum
       arguments a, b, c are numbers
       returns a+b+c
    '''
    return a+b+c

In [ ]:
# Use help() function to get documentation on function
help(add_three_nums)

Help on function add_three_nums in module __main__:

add_three_nums(a, b, c)
    add_three_nums() function takes three numbers as inputs and returns their sum
    arguments a, b, c are numbers
    returns a+b+c

# Inline or anonymous functions
* use lambda keyword to write inline or anyonymus functions
* does not require using def keyword to create function

# Construction of Lambda function
lambda arguments: expressions

In [ ]:
# Write an inline function to create a cube of a number
f_cube = lambda x: x**3

In [ ]:
print("cube of 2 is: ", f_cube(2))
print("cube of 3 is: ", f_cube(3))

cube of 2 is:  8
cube of 3 is:  27

In [ ]:
# Write an inline function to add two numbers
f_add_two = lambda x,y: x+y

In [ ]:
print("Sum of 4 & 5 is: ", f_add_two(4,5))
print("Sum of 101 & 98 is: ", f_add_two(101,98))

Sum of 4 & 5 is:  9
Sum of 101 & 98 is:  199

# Nested Functions
* A function within a function (parent function)

In [ ]:
# Illustration of nested function
def add_three_nums_nested(a,b,c):
    def add_two_nums_nested(a, b):
        print(a+b)
        return a+b
    return add_two_nums_nested(a, b)+c

In [ ]:
add_three_nums_nested(1,2,3)

3

6

# Function as an argument to a function
* pass a function as an argument to another function
* In the illustration, a function adds three numbers, and an other function adding two numbers is passed

In [ ]:
# Function to add two numbers
def add_three_nums_ff(a, b, c, add_two_nums ):
    return (a + add_two_nums(b,c))

In [ ]:
# add three numbers 1,2,3
add_three_nums_ff(1,2,3, add_two_nums)

6

# Recursive function
* Calling a function within that same function
* Illustration with factorial of a number

In [ ]:
def fact(n):
    '''Factorial of a number n using concept of recursive function'''
    if n == 1:
        return 1
    else:
        return n*fact(n-1)

In [ ]:
fact(5)

120

In [ ]:
def fact_1(n):
    '''factorial using recursive concept and in-line if else'''
    return 1  if n==1 else n*fact_1(n-1)

In [ ]:
fact_1(5)

120