<a href="https://colab.research.google.com/github/revendrat/AI-ML-Workshop-PIEMR-/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Following are the standard or built-in data type of Python:**


1.   Numeric
2.   Boolean
3.   Strings

**Numeric Data Types**


1.   Integers
2.   Real numbers
3.   Complex Numbers

In [1]:
#Converts a real number (float) to an integer
print(int(66.6666666666))

#Converts an integer to a real number (float)
print(float(67))

# Check the data type using "type" function
## Results in integer data type
print(type(66))

## Results in a real number (float) data type
print(type(float(67)))

66
67.0
<class 'int'>
<class 'float'>

Numbers and Arithmetic


*   "+" for addition
*   "-" for substraction
*   "*" multiplication
*   "/" division
*   "**" or pow() for exponentiation
*   "%" modulus to extract remainder
*   "//" floor division to extract quotient

In [2]:
# addition using "+"
3+7

# subtraction using "-"
9-7

# multiplication using "*"
7*8

# division using "/"
18/3

# integer division through double slash
9//2  # results in quotient

# modulus results in remainder
9%2
13%7

6

**Using multiple arithmetic operators**


$FV= (PV*(1+r/n)^{nt})$ <br>

where:

PV = present value of money (say 1000 rupees) 

FV = future value of money (to be calculated)

r = interest rate (say 6.25%)

n = number of compounding periods (semi-anually)

t = number of years (5 years)

In [3]:
# Calculation of future value using ** for exponentiation
1000*(1+0.0625/2)**(2*5)

1360.3154027780997

In [4]:
# Calculation of future value using pow() for exponentiation
1000*pow((1+0.0625/2), 2*5)

1360.3154027780997

**Complex Numbers Data Type**

*  Python provides basic support to complex numbers.
*  Recommend to use Numpy module for operations on complex numbers
*  Complex numbers represented using "j" or "J"
*  Use a numeric value before j, so that Python recognises it as a complex data type
*  In case using j or J is difficult to represent complex numbers, then use the function complex() to represent complex numbers
*  Use "real" to extract real numbers from complex numbers
*  Use "imag" to extract imaginary part from complex numbers

In [5]:
# The below line of code throws an error as 'j' is not defined
type(j)

NameError: ignored

In [7]:
# now try this with a number attached to complex form 'j'

type (1-2j)

complex

In [8]:
1-2j # is same as
complex(1,-2)

(1-2j)

In [9]:
cnum = 1-2j
print(cnum.real)
print(cnum.imag)
cnum

1.0
-2.0

(1-2j)

**Operations on complex numbers**

*  Addition
*  Subtraction
*  Multiplication
*  Division

In [10]:
# Addition
1+2j+2-3j

(3-1j)

In [11]:
# Subtraction
1+2j-(2-3j)

(-1+5j)

In [12]:
# Subtraction
complex(1+2j) - complex(2-3j)

(-1+5j)

In [13]:
# Multiplication
(1+2j)*(2-3j)

(8+1j)

In [14]:
# Division
(1+1j)/(2+4j)

(0.3-0.1j)

In [15]:
# Division
complex(1+1j) / complex(2+4j)

(0.3-0.1j)

In [16]:
# Absolute value of a complex number
abs(3+4j) # is equivalent to (3+4j)*(3-4j)

5.0

**Boolean Data Types**

* Logical or Boolean Types
* Conditional statements and iteration functions heavily rely on logical or boolean types in Python
* Python is considered as a truthy language.
* All things are true true except for the following:
  1. None
  2. False
  3. zero of any numeric type, for example, 0, 0L, 0.0, 0j.
  4. any empty sequence, for example, ”, (), [].
  5. any empty mapping, for example, {}.
  6. instances of user-defined classes, if the class defines a nonzero() or
  7. len() method, when that method returns the integer zero or bool value
False. 


Illustrations on Booleans or Logical Types are done below:

In [17]:
# bool is the keyword to recognize boolean or logical types
print("bool(0) is recognised as FALSE :", bool(0))
print("bool(1) is recognised as TRUE :", bool(1))
print("bool([]) is recognised as empty list, FALSE :", bool([]))
print("bool({}) is recognised as empty data dictionary, FALSE :", bool({}))
print("bool(()) is recognised as empty tuple, FALSE :", bool(()))

bool(0) is recognised as FALSE : False
bool(1) is recognised as TRUE : True
bool([]) is recognised as empty list, FALSE : False
bool({}) is recognised as empty data dictionary, FALSE : False
bool(()) is recognised as empty tuple, FALSE : False

In [18]:
# Comparisons
# Comparing two values
# Less than
print("3 < 5 :",3 < 5)
# Greater than
print("3 > 5 :",3 > 5)

# equal to
print("3 == 5 :", 3 == 5)

# less than equal to
print("3 <= 5 : ", 3 <= 5)

# greater than equal to
print("3 => 5 :", 3 >= 5)

# Not equal to
print("3 != 5 : ", 3 != 5)

3 < 5 : True
3 > 5 : False
3 == 5 : False
3 <= 5 :  True
3 => 5 : False
3 != 5 :  True

In [19]:
# Comparisons
# Comparing three values
# Less than
print("3 < 5 < 7 :",3 < 5 < 7)
# Greater than
print("3 > 5 > 7 :", 3 > 5 >7)

# equal to
print("3 == 5 == 7 :", 3 == 5 == 7)

# less than equal to
print("3 <= 5 <= 7 : ", 3 <= 5 <= 7)

# greater than equal to
print("3 => 5 >= 7 :", 3 >= 5 >= 7)

# Not equal to
print("3 != 5 != 7: ", 3 != 5 != 7)

3 < 5 < 7 : True
3 > 5 > 7 : False
3 == 5 == 7 : False
3 <= 5 <= 7 :  True
3 => 5 >= 7 : False
3 != 5 != 7:  True

**Comparisons using**

* disjunctions (or),
* negations (not), and
* conjunctions (and) also

In [20]:
3 < 5 and 5 < 7 or 5 != 4

True

In [21]:
# How does paranthesis change the interpretation?
(3 > 5 and 5 < 7) or 5 == 4

False

In [22]:
# How does paranthesis change the interpretation?
3 > 5 and (5 < 7 or 5 == 4)

False

In [23]:
# How does paranthesis change the interpretation?
3 < 5 and 5 > 7 or 5 != 4

True

In [24]:
# How does paranthesis change the interpretation?
(3 < 5 and 5 > 7) or 5 != 4

True

In [25]:
# How does paranthesis change the interpretation?
3 < 5 and (5 > 7 or 5 != 4)

True

In [26]:
## Group parantheses for readability
# Similar to conditions used in conditional statements & iterables

#left user    from system
[-1,-2,-3] == (1,2,3)

False

In [27]:
(-1,-2,-3) > (1,2,3)

False

In [28]:
# Use sets to perform faster search 
gender = set({"Male", "Female", "Other"})

"Female" in gender

True

**Strings Data Type**

* Python handles strings with sophistication
* Single or doble quotes define a string
* Backslash (\\) is considered as an escape character for strings in Python

In [29]:
'Hello'
# the above line declares a string which is equivalent to declaration in the below line
"hello"

'hello'

In [30]:
'Insert "double quote" between two single quotes'

'Insert "double quote" between two single quotes'

In [31]:
"Insert \"double quote\" between two double quotes using an escape character"

'Insert "double quote" between two double quotes using an escape character'

In [32]:
# Use double quotes to inlcude single quote within a string
"How's it?"

"How's it?"

In [33]:
# Use escape character to inlcude single quote within a string
'How\'s it?'

"How's it?"

In [34]:
# Use the following format to include single quote as well as double quotes in a string.
# Use escape character for a single quote, and leave double quotes as such
'It\'s, "out!"'

'It\'s, "out!"'

**Strings are immutable**

Immutable implies cannot be modified or updated

In [35]:
# Illustration of Strings Immutability
string1 = "Python"
print(string1)

Python

In [36]:
string1[5-1]

'o'

In [38]:
string1[1] = "i"

TypeError: ignored

**Strings are encoded as UTF-8**

* Python does not detect string literals as bytes.
* Assume you declared x variable with a string, then x is considered as string literal
  * x = "Hello Python!"
  * x is a string literal in Python
  * x defined as string literal can be converted into bytes format using encode() function
*Likewise, any string literal in byte format cane be converted to string format using decode() function

Illustration in the following cells:

In [39]:
# Assign x to mu
x = "μ"
#Check the length of the string x
len(x)

1

In [40]:
# Verify if x is string literal format
isinstance(x, str)

True

In [41]:
# Verify if x is in bytes format
isinstance(x, bytes)

False

In [42]:
# Convert string literal x to bytes format using encode() function
x.encode('utf8')
y = x.encode('utf8')
print(y)

b'\xce\xbc'

In [43]:
# Verify if y is string literal format
isinstance(y,str)

False

In [44]:
# Verify if x is bytes format
isinstance(y, bytes)

True

In [45]:
# Convert y to string using decode() function
y.decode('utf8')

'μ'

# **Operations on strings**

Using re module, i.e., regular expressions module, powerful operations in strings may be performed A few common operations:

* Slicing strings

* Concatenate strings
* Duplication of strings

* Strings substitution

* Formatting Strings

# **Slicing Strings**

* Say a string contains employee ID in this format
* Year of joining (four digits)
* Department (three characters)
* Six digit unique code (Six digits)
* Examples:
  1. 2009HRM9842
  2. 2017ITO8901

* Say you want to extract year, department or unique empolyee code

* You would use strings slicing operations

In [46]:
# Assign employee ID 1 and Employee ID 2
empID1 = "2009HRM9842"
empID2 = "2017ITO8901"

**Python is zero indexed**

* Value in the first position begins at position 0

* Value in the last position is identified at n-1

* Values between 0 and n-1 may be accordingly found

* When slicing, between two positions (m and n), begin the slicing at m-1 and end at n

Illustrations provided below:

In [47]:
## Extract first element in empID1
print(empID1[0])
## Extract last element in empID1
print(empID1[10]) #orempID1[-1]

# extract R
print(empID1[6-1])

2
2
R

In [48]:
empID1 = "2009HRM9842"
print(empID1[0])
print(empID1[1])
print(empID1[2])
print(empID1[3])
print(empID1[4])

2
0
0
9
H

In [49]:
# Extract year from Employee ID 1 and Employee ID 2
print(empID1[0:4])
print(empID2[0:4])

2009
2017

In [50]:
# Extract Department
empID1[4:7]

'HRM'

In [51]:
# Extract Unique Code
empID1[7:11]

'9842'

In [52]:
# Select all values from 2nd position to the last position
empID1[2:]

'09HRM9842'

In [53]:
# Select all values from 0'th position to 2nd position
empID1[:2]

'20'

**Concatenate Strings**

* use "+" operator to concatenate strings. or

* use both strings with parantheses and without comma (Note: Do not assign strings to variables)

In [54]:
# Concatenate strings with "+" operator
string1 = "PIEMR"
string2 = "Indore"
print(string1)
print(string2)
print(string1 + string2) #concatenate two strings
print(string1 + " " + string2 +"!") #concatenate two strings with space and exclamation

PIEMR
Indore
PIEMRIndore
PIEMR Indore!

In [55]:
# Concatenate strings with parantheses
print(("PIEMR" "Indore")) #concatenate two strings
print(("PIEMR" " " "Indore" "!")) #concatenate two strings with space and exclamation

PIEMRIndore
PIEMR Indore!

**Duplication of strings**

use "*" operator to duplicate strings

In [56]:
# Duplicate string1 for five times
string1 = "PIEMR"
string1 * 5

'PIEMRPIEMRPIEMRPIEMRPIEMR'

In [57]:
# Duplicate string "Indore" thrice
'Indore'*3 #or "Indore"*3

'IndoreIndoreIndore'

In [58]:
"Indore"*3

'IndoreIndoreIndore'

use replace() function from re module (regular expressions module)

In [59]:
string1 = " Indore is the cleanest city of M.P. "
string2 = "India"

# Substitute M.P. with India in string1
string1
string1.replace('M.P.', 'India')

' Indore is the cleanest city of India '

# Formatting Strings

Several methods to format strings in Python. A few techniques discussed below:

* Append type followed by value (in paranthesis)
*use "+" operator to combine string and value

**Note:**

* use %d for integer data types
* use %f for float data types
* use 5s for string data types

Illustrations shown below:

In [60]:
# Append type followed by value (in paranthesis)
"The result of 5x3 = %d" %(15)

'The result of 5x3 = 15'

In [61]:
# Append type followed by value (in paranthesis): integer data type
"The result of 5x3.5 = %d" %(17.5)

'The result of 5x3.5 = 17'

In [62]:
# Append type followed by value (in paranthesis) : float data type
"The result of 10/4 = %f" %(2.5)

'The result of 10/4 = 2.500000'

In [63]:
# Append type followed by value (in paranthesis) : string data type
"You are programming in %s" %("Python")

'You are programming in Python'

In [64]:
# Append using + operator: integer data type
"The result of 5x3 = " +str(15)

'The result of 5x3 = 15'

In [65]:
# Append using + operator : float data type
"The result of 10/4 = " +str(10/4)

'The result of 10/4 = 2.5'

In [66]:
# Append using + operator : string data type
"You are programming in " +str("Python")

'You are programming in Python'